#featureContainer {
    margin-left: 100%;
    margin-top: 20%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    width: 280px;
}

#containerHeader {
    margin: auto;
    text-align: center;
}

#userDiv {
    margin: auto;
    margin-top: -20%;
}

#username {
    margin-bottom: 20px;
}

#loginForUser {
    margin-left: 41%;
    margin-top: 20px;
}

#jumbotron {
    margin: auto;
    text-align: center;
    background-color: #a7acb1;
    height: 150px;
    padding-top: 40px;
}

#features {
    margin: auto;
    border-radius: 25px;
    height: 300px;
    box-shadow: 5px 5px 10px 2px  rgb(0 0 0 / 0.8);
    background: #6ea8fe;
    padding-top: 15px;
}

#itemDiv {
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 25px;
    background-color: gray;

}

#title {
    margin-left:6%;
    border-radius: 15px;
    text-align: center;

}

#desc {
    margin-left: 3%;
    border-radius: 15px;
    text-align: center;
}

#dueDate {
    margin-left: 3%;
    border-radius: 15px;
    text-align: center;
}

#itemButton {
    margin-left: 3%;
    border-radius: 10px;
    text-align: center;
}

#tableDiv {
    padding-top: 50px;
}

#itemTable {
    border-radius: 25px;
}

#navbarSupportedContent {
    padding-left: 20px;
}

#navbar {
    padding-left: 50px;

}

#pageHeader {
    margin-left:36%;
    padding-top: 10px;
}

#deleteButton {
}

#homeButton {
    margin-left: 7%;
    margin-bottom: -8%;
}

#secondDiv {
    display:inline-block;
    margin-left: 20%;
}

#deleteButton {
    margin-left:80.5%;
    margin-top:-5%
}
#cardDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure the card is above other elements */
}